<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>muffin</title>

	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- |||||||||||||||||||||||||||||||||Styling Includes|||||||||||||||||||||||||||||||||||||| -->
	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- |||||||||||||||||||||||||||||||||Main DOM Structure|||||||||||||||||||||||||||||||||||| -->
	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<div class="container">
		<header class="main-header"></header>
		<section class="main-content"></section>
	</div>

	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- |||||||||||||||||||||||||||||||||||||Templates||||||||||||||||||||||||||||||||||||||||| -->
	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	
	<!-- HomeView template -->
	<script type="text/template" id="home-template">
		<nav class = "navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
					<% if(obj.isLoggedIn()) { %>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#/logout"><button class="btn btn-danger navbar-btn">Logout</button></a></li>
						</ul>
						<p class="navbar-text navbar-right">Signed in as <%- obj.get('username') %></p>
					<% } else { %>
						<p class="navbar-right"><a href="#/login" class="btn btn-success navbar-btn">Login</a></p>
					<% } %>
				</div>
			</div>
		</nav>
		<header class="main-header col-md-12">
			
			<center>
				<h1 class="main-heading">muffin</h1>
				<h3 class="main-tagline">app to solve financial management and analysis problems</h3>
			</center>
		</header>
		<section class="main-content col-md-8 col-md-offset-2">
			<p class="main-app-description">
				Features : Employees in the organization can monitor their expenses. Managers can view the analysis of expenditures by various employees on various utilities. 
				The app is built using Backbone.js. The datastore is provided by Kinvey as BaaS(Backend as a Service). The visualization tool used is c3.js.
			</p>
			<center>
				<a href="#/getstarted" class="btn-lg btn-warning">Get Started</a>
			</center>
		</section>
	</script>

	<!-- SignupView template-->
	<script type="text/template" id="signup-template">
		<header class="main-header col-md-12">
			<center>
				<h1 class="signup-heading">muffin</h1>
				<h3 class="signup-tagline">app to solve financial management and analysis problems</h3>
			</center>
		</header>
		<section class="main-content">
			<section class="signup-form col-md-8 col-md-offset-2">
				<center>
				<p class="error-block text-danger bg-danger">
					
				</p>
				<form class="form-horizontal" id="signup-form">
					<legend>Signup</legend>
					<fieldset id="signup-fieldset">
					<div class="form-group has-success">
						<label for="fname" class="sr-only">First Name</label>
						<div class="input-group">
							<div class="input-group-addon">First Name</div>
							<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="lname" class="sr-only">Last Name</label>
						<div class="input-group">
							<div class="input-group-addon">Last Name</div>
							<input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="org" class="sr-only">organization</label>
						<div class="input-group">
							<div class="input-group-addon">Organization</div>
							<input type="text" class="form-control" id="org" name="org" placeholder="abc org" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="username" class="sr-only">Username</label>
						<div class="input-group">
							<div class="input-group-addon">Username</div>
							<input type="text" class="form-control" id="username" name="username" placeholder="username" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="password" class="sr-only">Password</label>
						<div class="input-group">
							<div class="input-group-addon">Password</div>
							<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="confirm" class="sr-only">Confirm</label>
						<div class="input-group">
							<div class="input-group-addon">Confirm</div>
							<input type="password" class="form-control" id="confirm" name="confirm" placeholder="confirm password" required>
						</div>
					</div>
					<div class="form-group has-success">
						<label for="email" class="sr-only">Email </label>
						<div class="input-group">
							<div class="input-group-addon">Email </div>
							<input type="email" class="form-control" id="email" name="email" placeholder="me@organization.com" required>
						</div>
					</div>
					<button type="submit" class="btn-lg btn-success" id="signup-submit-button">Sign Up</button>
					</fieldset>
				</form>
				</center>
			</section>
		</section>
	</script>

	<!-- loginview template -->
	<script type="text/template" id="login-template">
		<header class="main-header col-md-12">
			<center>
				<h1 class="login-heading">muffin</h1>
				<h3 class="login-tagline">app to solve financial management and analysis problems</h3>
			</center>
		</header>
		<section class="main-content">
			<section class="login-form col-md-6 col-md-offset-3">
				<center>
				<p class="error-block text-danger bg-danger">

				</p>
				<form class="form-horizontal" id="login-form">
					<legend>Login</legend>
					<fieldset id="login-fieldset">
					<div class="form-group form-group-lg has-success">
						<label for="username" class="sr-only">Username</label>
						<div class="input-group">
							<div class="input-group-addon">Username</div>
							<input type="text" class="form-control" id="username" name="username" placeholder="username" required>
						</div>
					</div>
					<div class="form-group form-group-lg has-success">
						<label for="password" class="sr-only">Password</label>
						<div class="input-group">
							<div class="input-group-addon">Password</div>
							<input type="password" class="form-control" id="password" name="password" placeholder="password" required>
						</div>
					</div>
					
					<button type="submit" class="btn-lg btn-success" id="login-submit-button">Login</button>
					</fieldset>
				</form>
				</center>
			</section>
		</section>
	</script>

	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- |||||||||||||||||||||||||||||||||||||Includes|||||||||||||||||||||||||||||||||||||||||| -->
	<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="vendor/underscore/underscore-min.js"></script>
	<script src="vendor/backbone/backbone.js"></script>
	<!-- Kinvey Backbone dependency -->
	<script src="//da189i1jfloii.cloudfront.net/js/kinvey-backbone-1.3.1.min.js"></script>
	<!-- Apps main defination -->
	<script src="js/app.js"></script>

</body>
</html>